%h1 Cadastro

%br

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), defaults: { label: false, input_html: { class: "form-control" } }) do |f|
  = devise_error_messages!
  = f.input :name, autofocus: true, placeholder: "Nome Completo"
  = f.input :email, autocomplete: "email", placeholder: "E-mail"
  = f.input :email_confirmation, autocomplete: "email", placeholder: "Confirme seu e-mail"
  = f.submit "Solicitar Minha Conta", class: "btn btn-primary full-width"

%hr

= render "devise/shared/links"
