.fix-margin

%h1 Transações

- flash.each do |key, value|
  %div{:class => "flash #{key}"}= value

%br

%table.table.table-striped
  %thead
    %tr
      %th Conta
      %th Operação
      %th Valor
      %th Data
  %tbody
    - @transitions.sort_by(&:created_at).each do |transition|
      - if Deposit.where(account: current_user.account).include? transition
        %tr
          %th= transition.account.account_number
          %th
            Depósito
          %th= "R$ #{transition.value.to_f.round(2)}"
          %th= transition.created_at.strftime("%e %b %Y - %H:%M:%S")
      - else
        %tr
          %th= transition.reciever
          - if transition.account_id == current_user.account.id
            %th
              %i.fas.fa-long-arrow-alt-right{style: "color:tomato"}
          - else
            %th
              %i.fas.fa-long-arrow-alt-left{style: "color:green"}
          %th= "R$ #{transition.value.to_f.round(2)}"
          %th= transition.created_at.strftime("%e %b %Y - %H:%M:%S")
